<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/style.current.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="css/flag-icon-css/css/flag-icon.css">
    <link rel="stylesheet" href="css/flag-icon-css/css/flag-icon.min.css">

    <title>Swaps Fx - Dashboard</title>
</head>

<body class="bgboard">

    <div class="subnav">
        <!-- container-fluid -->

        <nav class="navbar navbar-expand-lg navbar-dark absolute-top navbarpg">
            <div class="container">
                <a class="navbar-brand" href="./">
                    <img src="./images/lg.png" class="slg" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="quicktrade.html">Quick Trade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="marketplace.html">Marketplace</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="home.html">My Account</a>
                        </li>
                        <li class="nav-item dropdown notifications-menu">
                            <a class="nav-link active dropdown-toggle" href="wallet.html" id="walletMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Funds</a>
                            <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="walletMenuLink">
                                <a href="wallet.html" class="dropdown-item">Add Funds</a>
                                <a href="withdraw.html" class="dropdown-item">Withdraw Funds</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item dropdown notifications-menu">
                            <a class="nav-link active dropdown-toggle" href="orderHistory" id="orderMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.orders}}</a>
                            <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="orderMenuLink">
                                <a href="orderHistory" class="dropdown-item">All Orders</a>
                                <a href="orderHistory/complete" class="dropdown-item">Completed Orders</a>
                                <a href="orderHistory/active" class="dropdown-item">Active Orders</a>
                                <a href="orderHistory/cancelled" class="dropdown-item">Cancelled Orders</a>
                            </div>
                        </li> -->
                        <li class="nav-item dropdown notifications-menu">
                            <a class="nav-link active dropdown-toggle" href="wallet" id="walletMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">History</a>
                            <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="walletMenuLink">
                                <a href="#" data-toggle="modal" data-target="#getWalletField" class="dropdown-item">Funds History</a>
                                <a class="submenu dropdown-item dropdown-toggle" href="orderHistory" id="orderMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order History</a>
                                <div class="submenu dropdown-menu dropdown-menu-left dropdown" aria-labelledby="orderMenuLink">
                                    <a href="orderHistory" class="dropdown-item">All Orders</a>
                                    <a href="orderHistory/complete" class="dropdown-item">Completed Orders</a>
                                    <a href="orderHistory/active" class="dropdown-item">Active Orders</a>
                                    <a href="orderHistory/cancelled" class="dropdown-item">Cancelled Orders</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="help">Help</a>
                        </li>
                    </ul>
    
                    <span class="navbar-text">
                        <ul class="nav">
                            <li class="nav-item position-relative">
                                <a href="notifications" class="mx-c2">
                                    <i class="far fa-bell x15"></i>
                                    <span class="noti">2</span> 
                                </a>
                            </li>
                            <div class="nav-item dropdown notifications-menu">
                                <a class="btn btn-primary-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog x15"></i></a>
    
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="profile"><span>Profile</span></a>
                                    <a class="dropdown-item" href="profile/passwords"><span>Passwords</span></a>
                                    <a class="dropdown-item" href="profile/documents"><span>Documents</span></a>
                                    <a class="dropdown-item" href="profile/accounts"><span>Withdrawal Account</span></a>
                                    <a class="dropdown-item" href="settings"><span>Settings</span></a>
                                </div>
                            </div>
                            <li class="nav-item">
                                <a  href="logout" class="ml-c2">Logout</a>
                            </li>
                            <div class="nav-item dropdown notifications-menu">
                                <a class="btn btn-primary-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="flag-icon flag-icon-ca flag-icon-squared"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" [routerLink]=""><span class="flag-icon flag-icon-ca flag-icon-squared"></span> <span>&nbsp;&nbsp;Canada</span></a>
                                    <a class="dropdown-item" [routerLink]=""><span class="flag-icon flag-icon-ng flag-icon-squared"></span> <span>&nbsp;&nbsp;Nigeria</span></a>
                                </div>
                            </div>
                        </ul>             
                    </span>
                </div>
            </div>
        </div>
        </nav>
    </div>




        <div class="col-12 px-4">
            <div class="navbar_responsive">
                <div class="d-flex justify-content-between align-items-center mb-3 mobile">
                    <div class="p-2 text-center">
                        <a href="#" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" >
                                    <div class="mmv "><i class="fa fa-bars x18 "></i></div>
                                    <small>MENU</small>
                                </a>
                            </div>
                            <div class="p-2 "><img src="./images/lg.png " class="slg " alt=" "></div>
                            <div class="p-2 position-relative ">
                                <a href="# ">
                                    <i class="far fa-bell x15 "></i>
                                    <span class="noti ">2</span> 
                                </a>
                            </div>
                        </div>

                              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto drop">
                    <li class="nav-item">
                        <a class="nav-link" href="quicktrade">Quick Trade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="marketplace">Marketplace</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="ml-c2" href="marketplace">{{translator.headers.advanceTrade}}</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" href="home">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="wallet">Funds</a>
                    </li>
                    <li class="nav-item">
                        <a href="wallet" class="ml-c2">Add Funds</a>
                    </li>
                    <li class="nav-item">
                        <a href="wallet/withdraw" class="ml-c2">Withdraw Funds</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="wallet/cards" class="ml-c2">{{translator.wallet.page.cards}}</a>
                    </li> -->
                    <li class="nav-item">
                        <a [routerLink]="" class="nav-link">History</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#getWalletField" class="ml-c2">Funds History</a>
                    </li>
                    <li class="nav-item">
                        <a href="orderHistory" class="ml-c2">Order History</a>
                    </li>
                    <li class="nav-item">
                        <a href="orderHistory/complete" class="ml-c2">Completed Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="orderHistory/active" class="ml-c2">Active Orders</a>
                    </li>
                    <li class="nav-item">
                        <a href="orderHistory/cancelled" class="ml-c2">Cancelled Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile/passwords" class="ml-c2">Passwords</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile/documents" class="ml-c2">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile/accounts" class="ml-c2">Withdrawal Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="settings" class="ml-c2">Settings</a>
                    </li>
                    <li class="nav-item" *ngIf="auth == 0">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="auth == 0">
                        <a class="nav-link" href="signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
                    </div>

                </div>

        </div>

    

 


    <div class="swapfx-d ">
        <div class="container-fluid my-5 px-5c ">
            
                <div class="col-lg-12 m-auto ">   
                    <div class="row ">
                        <div class="col-lg-3">
                            <form>
                                <div class="row ">
                                    <div class="col ">
                                        <select name="fromLabel " class="form-control form-control1 " id="fromLabel ">
                                            <option>CAD</option>
                                            <option>NGN</option>
                                            <option>USD</option>
                                            <option>GBP</option>
                                        </select>
                                    </div>
                                    <div class="col ">
                                        <select name="toLabel " class="form-control form-control1 " id="toLabel ">
                                            <option>CAD</option>
                                            <option>NGN</option>
                                            <option>USD</option>
                                            <option>GBP</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="shadow p-3 mb-5 bg-white rounded ">
                                    <h5>NGN - CAD</h5>
                                    
                                        <table class="table table-striped table-bordered mydatatable display nowrap table_market" cellspacing="0" style="width: 100%">
                                        <thead class="marketplace">
                                          <tr>
                                            <th scope="col ">Rate (₦)</th>
                                            <th scope="col ">Amount ($)</th>
                                            <th scope="col ">Target amount (₦)</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                  
                                  <div class="shadow p-3 mb-5 bg-white rounded ">
                                    <h5>NGN - CAD</h5>
                                    <table class="table table-striped table-bordered mydatatable display nowrap table_market" cellspacing="0" style="width: 100%">
                                        <thead class="marketplace">
                                          <tr>
                                            <th scope="col ">Rate (₦)</th>
                                            <th scope="col ">Amount (₦)</th>
                                            <th scope="col ">Target amount ($)</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                            <tr>
                                              <th scope="row ">200.00</th>
                                              <td>200.00</td>
                                              <td>200.00</td>
                                            </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                          <tr>
                                            <th scope="row ">200.00</th>
                                            <td>200.00</td>
                                            <td>200.00</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                            </form>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="alert alert-success ">This is a sucess message</div>
                            <div class="alert alert-danger ">This is an error message</div>
                            <div class="row shadow p-3 mb-5 bg-white rounded ">
                                <p><a href=" " class="badge badge-light ">1D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">2D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">3D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark
                    ">4D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">5D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">6D</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">1W</a>&nbsp;&nbsp;<a href=" " class="badge badge-dark ">2W</a>&nbsp;&nbsp;<a href=" " class="badge
                    badge-dark ">1M</a></p>
                                <div class="chart-container " style="position: relative; ">
                                    <canvas id="myChart "></canvas>
                                </div>
                            </div>
    
                            <div class="row ">
                                <div class="col-lg-6 ">
                                    <div class="card mb-5 ">
                                        <div class="card-body mb-3 ">
                                            <h5 class="card-title ">Buy CAD</h5>
                                            <form id="orderComponent ">
                                                <div class="alert alert-danger alert-dismissible ">
                                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                                    This is an error
                                                </div>
                                                <div class="form-group ">
                                                    <label for="base ">I need</label>
                                                    <input type="number " step="0.001 " name="base " id="base " class="form-control h63 " placeholder="I need ">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="baseExchangeRate ">Swap Rate</label>
                                                    <input type="number " step="0.001 " name="baseExchangeRate " id="baseExchangeRate " class="form-control h63 " placeholder="CAD - NGN ">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="base ">I Have</label>
                                                    <input type="number " step="0.001 " name="base " id="base " class="form-control h63 " placeholder="I have ">
                                                </div>
                                                <div class="row ">
                                                    <div class="col-6 ">
                                                        Fees<br>
                                                        $0.00 (1%)
                                                    </div>
                                                    <div class="col-6 ">
                                                        <input type="button " value="Sell " data-toggle="modal " data-target="#confirmNeworder " class="btn btn_main3 w-100 my-2 orderbtn">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 " [hidden]="auth==0 ">
                                                    <div class="card-footer text-center ">
                                                        <span> $203,094 <br><small>USD Wallet Balance</small></span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="card mb-5 ">
                                        <div class="card-body mb-3 ">
                                            <h5 class="card-title ">Sell CAD</h5>
                                            <form id="orderComponent ">
                                                <div class="alert alert-danger alert-dismissible ">
                                                    <button type="button " class="close " data-dismiss="alert " aria-hidden="true ">&times;</button>
                                                    This is an error
                                                </div>
                                                <div class="form-group ">
                                                    <label for="base ">I have</label>
                                                    <input type="number " step="0.001 " name="base " id="base " class="form-control h63 " placeholder="I have ">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="baseExchangeRate ">Swap Rate</label>
                                                    <input type="number " step="0.001 " name="baseExchangeRate " id="baseExchangeRate " class="form-control h63 " placeholder="CAD - NGN ">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="base ">I Need</label>
                                                    <input type="number " step="0.001 " name="base " id="base " class="form-control h63 " placeholder="I need ">
                                                </div>
                                                <div class="row ">
                                                    <div class="col-6 ">
                                                        Fees<br>
                                                        $0.00 (1%)
                                                    </div>
                                                    <div class="col-6 ">
                                                        <input type="button " value="Sell " data-toggle="modal " data-target="#confirmNeworder " class="btn btn_main3 w-100 my-2 orderbtn">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 " [hidden]="auth==0 ">
                                                    <div class="card-footer text-center ">
                                                        <span> $203,094 <br><small>USD Wallet Balance</small></span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <!-- this is another part of the code that will be controlled with an IF statment -->
                                <div class="col-lg-12 " [hidden]="auth==1 ">
                                    <div class="card-footer text-center ">
                                        You must be logged in to view your orders.<br>
                                        Already have an account? <a href="login ">Login</a>, Already have an account? <a href="signup ">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    
                        <div class="col-lg-3"><div class="shadow p-3 mb-5 bg-white rounded ">
                            <h5>Active Orders</h5>
                            <div>
                                <div>
                                    <div class="alert alert-danger ">This is another Error Message</div>
                                    <table class="table table-striped table-bordered mydatatable display nowrap table_market" cellspacing="0" style="width: 100%">
                                            <thead class="marketplace">
                                                <tr>
                                                    <th scope="col ">Swap Pair</th>
                                                    <th scope="col ">Amount</th>
                                                    <th scope="col ">Rate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">CAD - NGN</a></td>
                                                    <td>$ 5,000.00</td>
                                                    <td>₦ 200.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="# ">NGN - CAD</a></td>
                                                    <td>₦ 200.00</td>
                                                    <td>$ 5,000.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    
                                </div>
                            
                                <div>
                                    <p class="text-center ">
                                        You must be logged in to view your orders.<br>
                                        Already have an account? <a href="login ">Login</a>, Already have an account? <a href="signup ">Sign Up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="bgc ">
        <app-footer _ngcontent-uss-c58="" _nghost-uss-c28="">
            <div _ngcontent-uss-c28="" class="bgc">
                <footer _ngcontent-uss-c28="" class="mt8">
                    <div class="container">
                        <div class="footer_smallscreen">
                        <div _ngcontent-uss-c28="" class="row footer">
                            <div _ngcontent-uss-c28="" class="col-lg-2 col-md-2 col-sm-2">
                                <img src="./images/logo1.png" class="img-fluid" alt="">
                       
                                <p class="xf12"> 
                                    We will get your money to your loved ones and business partners fast, conveniently, and securely in whatever currency you desire
                                 </p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <h6 >SwapFx</h6>
                                <a _ngcontent-uss-c28="" data-savepage-href="marketplace" href="marketplace">Marketplace</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="quicktrade" href="quicktrade">Quick Trade</a>
                                <br
                                    _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="home" href="home">My Accounts</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="wallet" href="https://lagos.swapsfx.com/wallet">Funds</a>
                                    <br
                                        _ngcontent-uss-c28="">
                                        <!----><span _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="login" href="https://lagos.swapsfx.com/login">Login</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="signup" href="https://lagos.swapsfx.com/signup">Sign Up</a><br _ngcontent-uss-c28=""></span>
                                        <!---->
                            </div>
                            <div _ngcontent-uss-c28="" class="col-lg-2 col-md-2 col-sm-2">
                                <h6 _ngcontent-uss-c28="">Company</h6><a _ngcontent-uss-c28="" data-savepage-href="about" href="https://lagos.swapsfx.com/about">About Us</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="contact" href="https://lagos.swapsfx.com/contact">Contact Us</a>
                                <br
                                    _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="signup" href="https://lagos.swapsfx.com/signup">Sign Up</a></div>
                            <div _ngcontent-uss-c28="" class="col-lg-2 col-md-2 col-sm-2">
                                <h6 _ngcontent-uss-c28=""> Legal</h6><a _ngcontent-uss-c28="" data-savepage-href="terms" href="https://lagos.swapsfx.com/terms">Terms of Use</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="policy" href="https://lagos.swapsfx.com/policy">Privacy Policy</a>
                                <br
                                    _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="agreement" href="https://lagos.swapsfx.com/agreement">User Agreement</a><br _ngcontent-uss-c28=""></div>
                            <div _ngcontent-uss-c28="" class="col-lg-2 col-md-2 col-sm-2">
                                <h6 _ngcontent-uss-c28=""> Help and Support</h6><a _ngcontent-uss-c28="" data-savepage-href="help" href="https://lagos.swapsfx.com/help">Help</a><br _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" data-savepage-href="faq" href="https://lagos.swapsfx.com/faq">Frequently Asked uestions</a>
                                <br
                                    _ngcontent-uss-c28=""></div>
                            <div _ngcontent-uss-c28="" class="col-lg-2 col-md-2 col-sm-2">
                                <h6 _ngcontent-uss-c28="">Follow Us</h6>
                                <p _ngcontent-uss-c28=""><a _ngcontent-uss-c28="" href="#" target="_blank"><i _ngcontent-uss-c28="" class="fab fa-facebook-square mr-2" aria-hidden="true"></i></a><a _ngcontent-uss-c28="" href="https://twitter.com/Swaps_Fx" target="_blank"><i _ngcontent-uss-c28="" class="fab fa-twitter mr-2" aria-hidden="true"></i></a>
                                    <a
                                        _ngcontent-uss-c28="" href="https://www.instagram.com/Swaps_Fx" target="_blank"><i _ngcontent-uss-c28="" class="fab fa-instagram" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </footer>

    <div class="container copyright">
        <div class="row ">
                <div class="col-lg-12 text-center ">
                    <p class="copy ">© 2020 SwapFx. All rights Reserved </p>
                </div>
        </div>
    </div>
        

    <script src="js/fontawesome.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  
       

 </body>     
</html>

<div class="modal" id="confirmNeworder" tabindex="-1" role="dialog" aria-labelledby="confirmNeworderLabel" aria-hidden="true" #content>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body summary_body">
            <div class="card summary_inside mb-5">
                <div class="card-body mb-3">
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div>
                        <h5 class="card-title m-0 summary_header">Exchange Summary</h5>
                        <div class="uline my-2"></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 x13">
                                <div>
                                    <b>Date</b> 
                                    <span class="float-right">2021-03-06</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 x13">
                                <div>
                                    <b>Type</b> 
                                    <span class="float-right">Sell</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 x13">
                                <div>
                                    <b>Amount</b> 
                                    <span class="float-right">₦100,000.00 Nigerian Naira</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 x13">
                                <div>
                                    <b>Swap Rate</b> 
                                    <span class="float-right">$200 United States Dollars</span>
                                </div>
                            </li>
                            <li class="list-group-item px-0 x13">
                                <div>
                                    <b>Total</b> 
                                    <span class="float-right">$200.00 United States Dollars</span>
                                </div>
                            </li>
                        </ul>
                        <br>
                    </div>
                    <h5 class="card-title m-0 summary_header">Bill Summary</h5>
                    <p class="card-text"> Billed In United States Dollars </p>
                    <div class="uline my-2"></div>
            
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0 x13">
                            <div class="text-center">
                                <b><i class="fas fa-exclamation" style="color: red;"></i> Low Balance</b>
                            </div>
                        </li>
                        <li class="list-group-item px-0 x13">
                            <div>
                                <b>Amount</b> 
                                <span class="float-right">$200.00 United States Dollars</span>
                            </div>
                        </li>
                        <li class="list-group-item px-0 x13">
                            <div>
                                <b>Fee</b> 
                                <span class="float-right">$0.00 United States Dollars</span>
                            </div>
                        </li>
                        <li class="list-group-item px-0 x13">
                            <div>
                                <b>Total</b> 
                                <span class="float-right">$200.00 United States Dollars</span>
                            </div>
                        </li>
                    </ul>
            
                    <form>
                        <span>
                            <select name="channel" id="channel" required class="form-control form-control1 my-3">
                                <option value="" selected>Select Channel</option>
                                <option value="">Online</option>
                                <option value="">Bank</option>
                            </select>
                    
                            <p class="card-text">
                                Deposit Amount <span class="float-right colg">$200.00 United States Dollars</span><br>
                                Gateway Charges <span class="float-right colg">$200.00 United States Dollars</span><br>
                                Total Charges <span class="float-right colg">$200.00 United States Dollars</span><br>
                            </p>
                            <div class="alert alert-success">This is a description</div>
                        </span>
                        
                        <input type="submit" disabled data-toggle="modal" data-target="#confirmSubmitAccount" value="Create Order"  class="btn btn_main3 w-100  my-2">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

